VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_EVENT_CONTRACT_ID=CBTDF6MLVMO6A6QCI2GS5KDABMQZI24DB2M7CYAWSASBK6JB4MTKJ6IP
VITE_TICKET_CONTRACT_ID=CDRQWUNCR6Y2PRRXD5ZP7E7EHPEVON6XZ22KXIZVARHTCN5LEEX4N3WK
VITE_TICKET_ADMIN_ADDRESS=GDNCIK6JATAXQ2QFGWAMKJKDEAOXBZMDAD6ZMRZOAEHBRI3Y5N2ONTSU
